


.custom-plot {
    width: 100vw !important;
    height: auto !important;
  }
  
  .js-plotly-plot {
    width: 100% !important;
    height: auto !important;
  }
  
  
  /* Ensure the Plotly chart scales correctly */
  .custom-plot svg {
      width: 100%;
      height: 100%;
      transform: none !important;
  }
  