.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.charts-container {
  display: flex;
  justify-content: space-between; /* Space between pie and line chart */
  align-items: center;
  flex-wrap: wrap; /* Ensures responsiveness */
  gap: 20px; /* Adds spacing between charts */
}
.profit-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profit-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.header {
  background: #f8f9fa;
}

.profit-column {
  flex: 1;
  text-align: center;
}

.currency {
  font-weight: 400;
  color: #747171;
}

.amount {
  font-size: 24px;
  color: #28a745;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.decimal {
  font-size: 12px;
  opacity: 0.7;
}



.positive {
  color: #28a745;
  background: rgba(40, 167, 69, 0.1);
}

.negative {
  color: red;
  background: rgba(255, 0, 0, 0.1);
}


.chart-card {
  flex: 1; /* Ensures equal width for both charts */
  min-width: 300px; /* Prevents shrinking too much */
  max-width: 48%; /* Limits each chart to take half of the container */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

/* Responsive Design: Stack charts on smaller screens */
@media (max-width: 768px) {
  .charts-container {
    flex-direction: column; /* Stacks charts vertically */
    align-items: center;
  }

  .chart-card {
    max-width: 100%; /* Full width for smaller screens */
  }

  
}
